/* ---------- root variables ---------- */
:root {
  --green: #fdaf28;
  --light-green: #fae6b1;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #333;
  --white: #f1f1f1;
}

body {
  color: var(--text-color-dark);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "poppins", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}



.logoImg {
  float: left;
  position: absolute;
  margin-top: 7px;
  left: 17px;
}

.logoSection{
  margin-right: 250px;
}

code {
  font-family: "poppins" , sans-serif
}

main {
  padding: 58px 0 0;
  background-color: var(--light-green);
  font-family: "poppins", sans-serif
}

h1 {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-family: "poppins", sans-serif
}

h2 {
  font-weight: 500;
  letter-spacing: 0.1px;
  font-family: "poppins", sans-serif
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
  font-family: "poppins", sans-serif
}

a {
  color: var(--green);
  font-family: "poppins", sans-serif
}

.page {
  background-color: var(--light-green);
  min-height: calc(100vh - 58px - 2em);
  padding: 1em;
  margin-top: 35px;
}

.text-center {
  text-align: center;
}
.text-error {
  color: var(--text-color-danger);
}

.text-error:first-letter {
  text-transform: uppercase;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- nav styling ---------- */
nav {
  background-color: var(--green);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

/* Style the links inside the navigation bar */
nav a {
  display: inline-block;
  color: var(--text-color-light);
  text-align: center;
  padding: 9px 16px;
  margin-top: 0;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

nav a svg {
  font-size: 30px;
}

nav a p {
  color: white;
  font-size: 10px;
  font-family: "poppins", sans-serif
}

/* Change the color of links on hover */
nav a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
nav a.active {
  background-color: var(--light-green);
  color: var(--green);
}

/* ---------- grid container styling ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.grid-container > article {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
}

.grid-container > article ::first-letter {
  text-transform: uppercase;
}

.grid-container > article:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.grid-container > article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ---------- form styling ---------- */

form {
  margin: auto;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 1em 1em 2em;
  background-color: var(--white);
  max-width: 380px;
  animation: fadeIn 0.5s;
}

form button {
  padding: 12px 15px;
  font-size: 1em;
  width: 100%;
  max-width: 350px;
}

button {
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  border: none;
  color: var(--text-color-light);
  background-color: var(--green);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0.5em 1em;
  font-size: 0.8em;
  display: block;
  margin: 0.6em auto 0;
  font-family: "poppins", sans-serif
}

button.btn-outline {
  background-color: var(--light-green);
  color: var(--green);
  border: solid 2px var(--green);
}

.btn-sign-out {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  font-size: 0.7em;
  padding: 2.032em 1em;
}

input {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

.image-preview {
  width: 100%;
  max-width: 350px;
  height: 200px;
  object-fit: cover;
  margin: auto;
  display: block;
  cursor: pointer;
}

form .file-input {
  display: none;
}

/* ---------- loader styling ---------- */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid var(--light-green);
  border-radius: 50%;
  border-top: 5px solid var(--green);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

.avatar {
  display: flex;
  align-items: center;
  margin: 0 0 1.2em;
  text-align: left;
}

.avatar span {
  margin: 0 0 0 1em;
}

.avatar h3,
.avatar p {
  margin: 0;
  font-family: "poppins", sans-serif
}

article .avatar img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* ------ Details page ----- */
.detailsImg {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.detailsImage {
  width: 1920px;
  transform: translateY(-50%);
}

.detailsUser .avatar img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.detailsPage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.detailPostBody {
  text-align: center;
}

.buttonsLeft {
  display: inline-block;
  margin-top: auto;
  justify-content: space-between;
  padding: 0px 0 8px 0;
}

.buySection {
  /* justify-content: center; */
  text-align: center;
}

.postButtons {
  display: inline;
  width: 130px;
  font-weight: bold;
  padding: 10px 10px;
}

.orderButton {
  width: 216px;
}

#amountSection {
  color: black;
}

.buttonsLeft a {
  font-size: 28px;
  float: right;
  font-family: "poppins", sans-serif
}

.selectPost {
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 1em;
  box-sizing: border-box;
  display: block;
  background: var(--white);
  border: solid 2px var(--green);
}

.selectHome {
  min-width: 150px;
  box-sizing: border-box;
  background: var(--white);
  border: solid 2px var(--green);
}

.priceQty {
  margin-top: auto;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  width: 100%;
}

#quantity {
  border-radius: 5%;
  border: 2px solid var(--green);
  color: var(--green);
  font-weight: 500;
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 9px 9px;
  margin-top: 0px;
  margin-bottom: 0;
}

.price {
  /* display: inline block; */
  font-weight: 500;
  float: right;
  margin-top: 0px;
  width: 100px;
  padding: 10px 10px;
  text-align: center;
  color: #f1f1f1;
  background-color: var(--green);
  border-radius: 5%;
  white-space: nowrap;
}

/* MODAL */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modalContent {
  width: 500px;
  background-color: #fff;
}

.modalHeader,
.modalFooter {
  padding: 10px;
}

.modalTitle {
  margin: 0;
}

.modalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.postDetailsLeft {
  display: inline;
  float: left;
}

.postDetailsRight {
  float: right;
}

.detailsContent{

    margin-top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    
  
   
    
    
    
}

.leftContent{

    border-radius: 10px;
    display: inline-block;
    width: 30%;
    min-height: 400px;
    text-align: center;
    margin-right: 10px;
    background-color: var(--light-grey);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    

}

.leftContent h1{
  text-decoration: underline;
}

.rightContent{


    text-align: center;
    display: inline;
    min-height: 400px;
    width: 100%;
    color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);

}

.infoListItems{
margin-top: auto;
  padding: 10px 0 10px 0;
  width: 70%;
  margin-left: 45px;
  text-align: left;
  

}

#itemOne{
border-radius: 5%;
 
  color: var(--green);
  font-weight: 500;
  display: inline-block;
  width: 100px;
  text-align: center;
  float: left;
  justify-content: space-around;
  
}

#itemTwo{
  font-weight: 500;
  /* border: 1px solid var(--green); */
 float: right;
    margin-top: 0px;
    width: 100px;
    text-align: center;
    color: black;
    border-radius: 5%;
    white-space: nowrap;
}

.burgerBar{
  display: none;
}

@media (min-width: 650px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .detailsContent {
      display: flex;
      flex-direction: column-reverse;
  
  }
    
  .rightContent {
           margin-left: 0px;
           margin-bottom: 10px;
           
  }

     .leftContent {
       width: 100%;
     }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .detailsContent{
    grid-template-columns: 1fr 2fr;
    display: flex;
    flex-direction: row;
  }

    .rightContent {
      margin-left: 10px;
      margin-bottom: 0px;
    }

    .leftContent {
      width: 60%;
    }

  
  }


    @media (max-width: 649px) {
  
      .detailsContent {
        grid-template-columns: 1fr 1fr;
        display: flex;
        flex-direction: column-reverse;
      }


      .leftContent{
        width: 100%;
      }
  
      .rightContent {
        margin-left: 0px;
        margin-bottom: 10px;
      }
  
  
    }


    @media (max-width:766px){

      .burgerBar{
        position:absolute;
        top:30px;
        right: 10px;
        display: block;
        font-size: 25px;
        color: white;
      }

      .nav-menu{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        background-color: #fdaf28;
        position: absolute;
        height: 580px;
        width: 100%;
        left: -100%;
        transition: all 0.5s ease;

        
      }

      .nav-menu.menuActive{
        
        left: 0px;
        transition: all 0.5s ease;
       
      }

      nav a svg {
       margin-top: 10px;
      }


      nav{
        width: 100%;
        height: 100px;
      }

            .logoImg {
              margin-top: 15px;
            }
      

      

    }




